@model IEnumerable<GCard.Model.ItemType>

<partial name="_NotificationPartial"/>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product Types:</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ItemType" asp-action="Upsert" class="btn btn-primary">
               <i class="bi bi-plus-circle"></i>&nbsp; Create new Item Type
            </a>
        </div>
    </div>
    <br/><br/>
    <table id="tblData" class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Display Order</th>
                <th></th>
            </tr>
        </thead>
@*        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td> @p.Name</td>
                    <td> @p.DisplayOrder</td>
                    <td>
                            <a asp-controller="CoverType" asp-action="Edit" asp-route-id="@p.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> </a>
                            <a asp-controller="CoverType" asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger mx-2"><i class="bi bi-x-circle"></i> </a>
                    </td>
                </tr>
            }
        </tbody>*@
    </table>
</div>

@section Scripts{
    <script src="~/js/itemtype.js"></script>
}