@model IEnumerable<GCard.Model.ItemType>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product Types:</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; Add Type
            </a>
        </div>
    </div>
    <br/><br/>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Type</th>
                <th>Display Order</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td> @p.Name</td>
                    <td> @p.DisplayOrder</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="CoverType" asp-action="Edit" asp-route-id="@p.Id" class="btn btn-primary mx-2">
                               <i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-controller="CoverType" asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger mx-2">
                               <i class="bi bi-x-circle"></i> Delete</a>
                        </div> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

