@model GCard.Model.Occasion

<form method="post" asp-action="Upsert">
    <input asp-for="Id" hidden/>

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row" >
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Id!=0?"Update":"Create") Occasion</h2><hr/>
                </div>
                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <br/><br/><hr/>
                <div class="col-12"> 
                    <button type="submit" class="btn btn-primary" style="width:150px;">@(Model.Id!=0?"Update":"Create")</button>
                    <a asp-controller="Occasion" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name ="_ValidationScriptsPartial"/>
    }
    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
          toolbar_mode: 'floating',
        });
    </script>
}

