@page
@model GCard.RazorPagesApp.Pages.Admin.ItemTypePage.UpsertModel

<form method="post">
    <input asp-for="ItemType.Id" hidden/>
 <div class="row pb-2">
        <div class="col-10">
            <div class="border p-3 mt-4 row" >
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.ItemType.Id!=0 ? "Update":"Create") Item Type</h2><hr/>
                </div>
                <div class="mb-3">
                    <label asp-for="ItemType.Name"></label>
                    <input asp-for="ItemType.Name" class="form-control"/>
                    <span asp-validation-for="ItemType.Name" class="text-danger"></span>
                </div>
                 <div class="mb-3">
                    <label asp-for="ItemType.DisplayOrder"></label>
                    <input asp-for="ItemType.DisplayOrder" class="form-control"/>
                    <span asp-validation-for="ItemType.DisplayOrder" class="text-danger"></span>
                </div>

                <br/><br/><hr/>
                <div class="col-12"> 
                    <button type="submit" class="btn btn-primary" style="width:150px;">@(Model.ItemType.Id!=0?"Update":"Create")</button>
                    <a asp-page="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>

            </div>
        </div>
  </div>
</form>

@section Scripts{
    @{
        <partial name ="_ValidationScriptsPartial"/>
    }
@*    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
          toolbar_mode: 'floating',
        });
        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Загрузите картинку',
            });
                return false;
            } return true;
    </script>*@
}